
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div class="spacer"></div>
  <div class="d-inline-block me-2">jerome&#64;bodineau.io</div>
  <a class="me-3" aria-label="Linkedin" target="_blank" rel="noopener" href="https://linkedin.com/in/jerome-bodineau" title="Linkedin">
    <i class="logo fa-brands fa-linkedin"></i>
  </a>
  <p-dropdown [options]="languageList" [(ngModel)]="selectedLanguage" optionLabel="code" class="lang-select" (onChange)="selectLanguage($event.value.code, true)">
    <ng-template pTemplate="selectedItem">
        <div class="country-item country-item-value"  *ngIf="selectedLanguage">
            <img src="assets/images/language/{{selectedLanguage.code}}.png" class="icon-language"/>
            <div class="lang-label" style="text-transform: uppercase;">{{selectedLanguage.code}}</div>
        </div>
    </ng-template>
    <ng-template let-country pTemplate="item">
        <div class="country-item" (click)="selectLanguage(country.code,true);">
            <img src="assets/images/language/{{country.code}}.png" class="icon-language"/>
            <div class="lang-label">{{country.name}}</div>
        </div>
    </ng-template>
</p-dropdown>
</div>

<div class="content" role="main">
  <div class="inner ">
    <div class="content-text">
      <div class="intro d-inline-block">
        <div><h3>Jérôme Bodineau</h3></div>
        <div class="skills transition-opacity {{rotatedTextVisible ? 'opacity-max' : ''}}">{{textRotation}}</div>
      </div>

      <div class="skills-details">
        <div>
          <div><h4>{{'skill-level-1' | translate}}</h4></div>
          <div>
            <i class="pi pi-check"></i>
            {{'skill-system' | translate}}
          </div>
          <div>
            <i class="pi pi-check"></i>
            {{'skill-languages' | translate}}
          </div>
          <div>
            <i class="pi pi-check"></i>
            {{'skill-db' | translate}}
          </div>
          <div>
            <i class="pi pi-check"></i>
            {{'skill-version' | translate}}
          </div>
          <div>
            <i class="pi pi-check"></i>
            {{'skill-tools' | translate}}
          </div>
        </div>

        <div class="mt-5">
          <div><h4>{{'skill-level-2' | translate}}</h4></div>
          <div>
            <i class="pi pi-check"></i>
            {{'skill-languages-2' | translate}}
          </div>
          <div>
            <i class="pi pi-check"></i>
            {{'skill-db-2' | translate}}
          </div>
          <div>
            <i class="pi pi-check"></i>
            {{'skill-web3' | translate}}
          </div>
        </div>
      </div>
    </div>

    <div class="portfolio text-center">
      <div class="title w-100 mb-3">{{'portfolio-title' | translate}}</div>
      <p-card [header]="'portfolio-project-1-header' | translate" [subheader]="'portfolio-project-1-subheader' | translate" [style]="{maxWidth: '480px'}" styleClass="p-card-shadow">
        <p>
          {{'portfolio-project-1' | translate}}
        </p>
        <ul>
          <li>{{'portfolio-project-1-item-1' | translate}}</li>
          <li>{{'portfolio-project-1-item-2' | translate}}</li>
          <li>{{'portfolio-project-1-item-3' | translate}}</li>
        </ul>
      </p-card>
      <p-card [header]="'portfolio-project-2-header' | translate" [subheader]="'portfolio-project-2-subheader' | translate" [style]="{maxWidth: '480px'}" styleClass="p-card-shadow">
        <p>
          {{'portfolio-project-2' | translate}}
        </p>
        <ul>
          <li>{{'portfolio-project-2-item-1' | translate}}</li>
          <li>{{'portfolio-project-2-item-2' | translate}}</li>
          <li>{{'portfolio-project-2-item-3' | translate}}</li>
        </ul>
      </p-card>
      <p-card [header]="'portfolio-project-3-header' | translate" [subheader]="'portfolio-project-3-subheader' | translate" [style]="{maxWidth: '480px'}" styleClass="p-card-shadow">
        <ul>
          <li>{{'portfolio-project-3-item-1' | translate}}</li>
          <li>{{'portfolio-project-3-item-2' | translate}}</li>
          <li>{{'portfolio-project-3-item-3' | translate}}</li>
          <li>{{'portfolio-project-3-item-4' | translate}}</li>
          <li>{{'portfolio-project-3-item-5' | translate}}</li>
          <li>{{'portfolio-project-3-item-6' | translate}}</li>
          <li>...</li>
        </ul>
      </p-card>
    </div>

    <div class="personal text-left pb-5">
      <div class="title w-100 mb-3">{{'personal-project-title' | translate}}</div>

      <div class="text-start">
        {{'personal-project-intro-1' | translate}}
        {{'personal-project-intro-2' | translate}}
        <ul class="mt-2">
          <li><a target="_blank" href="https://cryptagg.com">Cryptagg</a> : {{'personal-project-desc-1' | translate}}</li>
          <li><a target="_blank" href="https://kantik.world">Kantik World</a> : {{'personal-project-desc-2' | translate}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Not used FTM -->
<router-outlet></router-outlet>

<footer class="footer">
  <div class="grid w-100">
    <div class="col-12 text-center">
      <span>jerome&#64;bodineau.io</span>
    </div>
    <div class="col-12 text-center">
      <span>{{'link-source-code' | translate}}</span>
      <a aria-label="Gitlab" target="_blank" rel="noopener" href="https://gitlab.com/JBodineau/bodineau.io" title="Gitlab">
        <svg class="tanuki-logo" width="111" height="18" viewBox="0 0 111 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path class="logo-text" d="M44.814 9.042h3.645c-.608-3.875-3.963-6.574-8.33-6.574-5.166 0-9.043 3.798-9.043 10.16 0 6.248 3.703 10.123 9.15 10.123 4.887 0 8.386-3.144 8.386-8.234v-2.37h-8.01v2.794h4.55c-.058 2.816-1.938 4.599-4.908 4.599-3.305 0-5.57-2.477-5.57-6.95 0-4.445 2.303-6.913 5.494-6.913 2.38 0 4.01 1.272 4.636 3.365Zm6.218 13.438h3.49V7.68h-3.49v14.8Zm1.76-17.151c1.109 0 2.014-.85 2.014-1.89s-.905-1.9-2.014-1.9c-1.109 0-2.024.849-2.024 1.9s.9 1.89 2.017 1.89h.007ZM64.971 7.68H62.05V4.126h-3.49v3.556h-2.1v2.699h2.1v8.233c-.018 2.786 2.007 4.16 4.628 4.079a7.089 7.089 0 0 0 2.055-.348l-.59-2.73a4.247 4.247 0 0 1-1.02.137c-.878 0-1.582-.309-1.582-1.717v-7.662h2.921V7.68Zm2.701 14.8h12.272v-2.998H71.25V2.737h-3.578V22.48Zm18.957.3c2.323 0 3.71-1.09 4.347-2.333h.115v2.033h3.36v-9.91c0-3.913-3.19-5.09-6.016-5.09-3.113 0-5.504 1.388-6.275 4.087l3.26.464c.345-1.013 1.329-1.88 3.04-1.88 1.62 0 2.506.829 2.506 2.285v.057c0 1.002-1.05 1.051-3.664 1.33-2.872.309-5.619 1.166-5.619 4.502-.01 2.912 2.12 4.455 4.946 4.455Zm1.147-2.56c-1.456 0-2.498-.666-2.498-1.948 0-1.34 1.167-1.899 2.72-2.121.917-.125 2.75-.357 3.2-.722v1.744c.01 1.643-1.321 3.042-3.422 3.042v.005Zm9.244 2.26h3.433v-2.332h.201c.551 1.08 1.698 2.593 4.244 2.593 3.489 0 6.102-2.768 6.102-7.644 0-4.936-2.69-7.616-6.112-7.616-2.613 0-3.702 1.57-4.234 2.641h-.147V2.737h-3.486V22.48Zm3.423-7.403c0-2.88 1.234-4.734 3.48-4.734 2.323 0 3.52 1.976 3.52 4.734 0 2.759-1.214 4.8-3.52 4.8-2.227 0-3.48-1.928-3.48-4.8Z" fill="#fff"></path>
          <path class="tanuki-shape tanuki" d="m24.507 9.5-.034-.09L21.082.562a.896.896 0 0 0-1.694.091l-2.29 7.01H7.825L5.535.653a.898.898 0 0 0-1.694-.09L.451 9.411.416 9.5a6.297 6.297 0 0 0 2.09 7.278l.012.01.03.022 5.16 3.867 2.56 1.935 1.554 1.176a1.051 1.051 0 0 0 1.268 0l1.555-1.176 2.56-1.935 5.197-3.89.014-.01A6.297 6.297 0 0 0 24.507 9.5Z" fill="#E24329"></path>
          <path class="tanuki-shape right-cheek" d="m24.507 9.5-.034-.09a11.44 11.44 0 0 0-4.56 2.051l-7.447 5.632 4.742 3.584 5.197-3.89.014-.01A6.297 6.297 0 0 0 24.507 9.5Z" fill="#FC6D26"></path>
          <path class="tanuki-shape chin" d="m7.707 20.677 2.56 1.935 1.555 1.176a1.051 1.051 0 0 0 1.268 0l1.555-1.176 2.56-1.935-4.743-3.584-4.755 3.584Z" fill="#FCA326"></path>
          <path class="tanuki-shape left-cheek" d="M5.01 11.461a11.43 11.43 0 0 0-4.56-2.05L.416 9.5a6.297 6.297 0 0 0 2.09 7.278l.012.01.03.022 5.16 3.867 4.745-3.584-7.444-5.632Z" fill="#FC6D26"></path>
        </svg>
      </a>

    </div>
  </div>
</footer>
