:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  body {
    color: white;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #2a323d;
    color: white;
    font-weight: 600;
    box-shadow: 0 2px 10px #000;
  }

  .toolbar .logo {
    margin: 0 8px;
    font-size: 24px;
  }

  .content {
    margin-top: 60px;
    width: 100%;
    min-height: calc(100vh - 60px);
    background-image: url('/assets/images/background2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .content .inner {
      padding: 0 16px;
      width: 100%;
      min-height: calc(100vh - 60px);
      /*background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.6418942577030813) 30%, rgba(0,0,0,0) 100%);*/
  }

  .content-text {
    width: 70%;
    margin-left: 18%;
  }

  .intro {
      text-align: left;
      margin-top: 200px;
  }

  .intro .skills {
      font-size: 18px;
  }

  @media screen and (max-width: 767px) {
    .content-text {
      width: 100%;
      text-align: left;
      margin-left: 5px;
    }
    .intro {
        margin-top: 50px;
    }
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  .transition-opacity {
    opacity: 0;
    transition: opacity 2s;
    -webkit-transition: opacity 2s;
  }

  .opacity-max {
    opacity: 1;
  }

  .icon-language {
    width: 22px;
    height: 22px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: top;
  }
  .lang-label {
    vertical-align: bottom;
    display: inline-block;
    font-size: 16px;
  }
  .lang-select {
    vertical-align: top;
    margin-right: 10px;
  }
  .lang-select .p-dropdown {
    border: none;
  }
  .lang-select .p-dropdown .p-dropdown-trigger {
    display: none;
  }
  .lang-select .p-dropdown-panel {
    left: auto !important;
    right: 0 !important;
  }
  .lang-select .p-dropdown .p-dropdown-trigger {
    display: none;
  }

  .skills-details {
      margin-top: 150px;
  }

  @media screen and (max-width: 767px) {
    .skills-details {
        margin-top: 60px;
    }
  }

  .portfolio {
    margin-top: 200px;
  }
  .portfolio .title {
    font-size: 30px;
  }
  .p-card-shadow {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin-bottom: 10px;
    margin-right: 20px;
  }

  @media screen and (max-width: 1030px) {
    .p-card-shadow {
      display: block;
      margin: auto;
      margin-bottom: 10px;
    }
  }

  .personal {
    margin-top: 150px;
    width: 50%;
    margin-left: 5%;
  }
  .personal .title {
    font-size: 30px;
  }

  .personal ul {
    line-height: 30px;
  }


  @media screen and (max-width: 1046px) {
    .personal {
      width: 100%;
      margin-left: 5px;
    }
  }

  footer {
    display: flex;
    align-items: center;
    line-height: 20px;
    padding: 30px 0;
    background-color: #000;
  }

  .grid {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.5rem;
    margin-left: -0.5rem;
    margin-top: -0.5rem;
  }

  .grid>.col, .grid>[class*=col] {
    box-sizing: border-box;
    padding: 0.5rem;
  }

  .country-item-value {
    min-width: 120px;
  }
